
body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(85, 0, 0); 
  }

  h1{
    color: white;
    
  }
  canvas {
    display: block;
  }

  