
body {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    /*height: 100vh;  Asegura que el body ocupe toda la altura de la ventana */
    background-color: blue; 
  }

  h1{
    color: white;
    
  }
  canvas {
    display: block;
  }